@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gestion des évenement sportives </h1>
    <h1>    @Html.ActionLink("Les compétitions à venir ", "index", "Competition") </h1>
    <h2>    @Html.ActionLink("Les compétitions passés ", "BackCompetition", "Competition") </h2>


</div>
